# gensim==4.2.0
gensim
nltk
pandas
spacy
# scikit-learn==0.24.2
scikit-learn
# scikit-optimize>=0.8.1
scikit-optimize
matplotlib
torch
# numpy==1.23.0
numpy
libsvm
flask
sentence_transformers
requests
tomotopy
